html, body{
    padding: 0%;
    margin: 0%;
    height: 100%;
}

#main-content{
    height: 40%;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    display: grid;

    grid-template-columns: repeat(4, 1fr); 2fr;
    grid-template-rows: repaet()
}